name: Build Geode Mod

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
        - name: macOS
          os: macos-latest
        - name: iOS
          os: macos-latest
          target: iOS
        - name: Android32
          os: ubuntu-latest
          target: Android32
        - name: Android64
          os: ubuntu-latest
          target: Android64

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Android NDK
        if: startsWith(matrix.config.name, 'Android')
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26b

      - name: Build Mod
        uses: geode-sdk/build-geode-mod@main
        with:
          bindings-ref: main
          combine: true
          target: ${{ matrix.config.target }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.name }}
          path: build/*.geode

  package:
    name: Package builds
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Combine builds
        uses: geode-sdk/build-geode-mod/combine@main
        id: build

      - name: Upload Final Mod
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          # The secret sauce: using 'build-output' instead of just 'output'
          path: ${{ steps.build.outputs.build-output }}
